<!DOCTYPE html>
<html lang="en">
<head>
  <title>EXCEL</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .container {
      text-align: center;
    }
    .redirect-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #e0e0e0;
      color: #000;
      text-decoration: none;
      margin-top: 10px;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>Hello,</h1>
  <p>Click the button below to start:</p>
  <a href="home" class="redirect-button">Let's go</a>

  <h3>Click here to Login</h3>
  <a href="login" class="redirect-button">CLICK HERE</a>
</div>
</body>
</html>
